body{
    margin: 0;
    background-image: url(../img/gallary.jpg);
    width: 100vw;
}
.btn2{
   display: block;
    position: absolute;
    left: 205px;
    top: 11px;
    width: 90px;
    height: 140px;
    border: 10px solid rgb(164, 133, 54);
    color: darkgoldenrod;
    font-weight: 800;
}  
.container{
    width: 500px;
    height: 400px;
    margin: 50px;
    position: absolute;
    left: 400px;
    top: 150px;
}
.btn1{
   display: block;
    position: absolute;
    left: -322px;
    bottom: 283px;
    width: 140px;
    height: 80px;
    border: 10px solid dimgray;
    color: dimgray;
    font-weight: 800;
    
    
}

.img{
display: none;
position: absolute;
width: 200px;
height: 300px;
display: flex;
margin: -100px -90px 50px ;
}




